<%- include('header.html') -%>

<div class="main">
    <div class="channel-container">
        <div class="channel-container-top">
            Channels
        </div>
        <div id="channel-list"></div>
        <div id="new-channel-btn">
            + Create Channel
        </div>
    </div>

    <div class="chat-container">
        <div id="message-container"></div>
        <div class="send-container">
            <form id="send-form">
                <input id="message-input">
            </form>
        </div>
    </div>
</div>

<%- include('footer.html') -%>